.header {
  background-color: #3e1d58;
  padding: 32px;
}

.nav a {
  display: inline-block;
  margin-right: 16px;
}

.content {
  background-color: #eedddd;
  padding: 64px 32px;
  opacity: 0.65;
}

.footer {
  padding: 32px;
  background-color: #3e1d58;
  color:cornsilk;
  text-align: center;
}

.footer ul {
  justify-content: space-between;
  margin-left: 16px;
  list-style-type: none;
}

video #ERROR404{
  border: none;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.65;
}