.header {
  background-color: #360449;
  padding: 32px;
}

.nav a {
  display: inline-block;
  margin-right: 16px;
}

.content {
  background-color: #eedddd;
  padding: 64px 32px;
}

.footer {
  padding: 32px;
  background-color:#360449;
  color:cornsilk;
  text-align: center;
}

.footer ul {
  justify-content: space-between;
  margin-left: 16px;
  list-style-type: none;
}

